/* CSS Media Querries */

@media only screen and (max-width: 450px) {      

header {
    top: 0;
    position: static;
}    
    
header .menu {
    margin-bottom: 0.5em; 
}

nav {
    flex-direction: column;
}

.main h1 {
    font-size: 13vw;
}

.main p {
    font-size: 4.5vw;
}

.video h2 {
    font-size: 1.25em;
}    
    
.video iframe {
    width: 75%;
}
    
footer p {
    font-size: 0.85em;
}

}

@media only screen and (min-width: 450px) {  

    
nav a {
    margin-right: 0.5em;    
}
    
.main h1 {
    font-size: 4em;
}
 
.main p {
    font-size: 1.25em;
}  
    
.video h2 {
    font-size: 1.5em;
}
    
.video iframe {
    width: 20em;
    height: 12em;
}

.video p {
    font-size: 1em;
}
    
footer p {
    font-size: 1.25em;
}
    
}

@media only screen and (min-width: 576px) {

.main h1 {
    font-size: 5em;
}

.main p {
    font-size: 1.75em;
}  
    
.video h2 {
    font-size: 1.85em;
}

.video iframe {
    width: 30em;
    height: 17em;
}

.video p {
    font-size: 1.25em;
}

}

@media only screen and (max-width: 768px) {

.main h1 {
    text-shadow: 3px 3px 0 rgba(0,0,0,0.2);
}

.float {
    display: flex;
} 

footer {
    grid-template-columns: auto 1fr;
}    
    
}

@media only screen and (min-width: 768px) {   

.main h1 {
    font-size: 6em;
}

.main p {
    font-size: 2.25em;
}        
    
.video h2 {
    font-size: 2.5em;
}
    
.video iframe {
    width: 40em;
    height: 23em;
}
    
.video p {
    font-size: 1.5em;
}
    
}

@media only screen and (min-width: 896px) {

.main h1 {
    font-size: 7em;
}

.main p {
    font-size: 2.5em;
}    

.video h2 {
    font-size: 3em;
}

.video iframe {
    width: 50em;
    height: 29em;
}
    
.video p {
    font-size: 1.75em;
}  
    
}

@media only screen and (min-width: 1024px) {
        
.main h1 {
    font-size: 8em;
}
    
.main p {
    font-size: 2.75em;
}
    
.video h2 {
    font-size: 3.5em;
}

.video iframe {
    width: 55em;
    height: 32em;
}
    
.video p {
    font-size: 2em;
}   
    
}

@media only screen and (min-width: 1200px) {  

.main h1 {
    font-size: 10em;
}
    
.main p {
    font-size: 3.5em;
}
    
.video h2 {
    font-size: 4em;
}

.video iframe {
    width: 65em;
    height: 38em;
}

.video p {
    font-size: 2.25em;
}

}
